<form action="/post" method="post">
<div><label for="Link URL">Link URL</label>
<input id="Link URL" name="link"></div>

<div><label for="description">Description</label>
<input id="description" name="description"></div>


<div><label for="image">Image</label>
<input id="image" name="image"></div>

<label>

<button>Create item</button>

</form>
